@import "tailwindcss";

@theme {
  --font-mono: 'JetBrains Mono', 'Menlo', monospace;
  --font-sans: 'Inter', sans-serif;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(4px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

html {
  font-feature-settings: "cv11", "ss01";
  -webkit-font-smoothing: antialiased;
  background-color: black;
  color: white;
}